[2020-09-28 13:19] slinkydeveloper opened #9 "Send events/Receive events API and impl"
As $title, we need apis in the test context to send and receive events. We also need to define how to perform assertions on it.

/assign

[2020-09-28 14:32] slinkydeveloper opened #11 "CreateFromYaml/CreateFromURI/KoApply needs templating"
I like the approach of using yamls, but they need templating features. For example, I could have the same broker config for two different brokers, but i need to change the name of the created resource. For that, we need some basic templating capabilities

[2020-09-28 14:32] slinkydeveloper opened #12 "Define event topology"
**WARNING: Brain dump here**

The approach of component seems interesting, although it still doesn't tackle one of the major issues of knative eventing existing e2e tests: deploying components manually, component per component, makes hard understanding the test flow. My idea of an eventing test is something like:

* I tell you what components we have here and how to configure them
* I tell you the

[2020-09-28 14:59] lionelvillard commented on #11
Yup agree. Rigging supports templating, it just hasn't been integrated properly yet.

I think we also want a leaner interface. Maybe something like this:

[code]

More details soon....

[2020-09-28 18:22] lionelvillard commented on #12
That's an interesting idea. The current direction is to use YAML specifications to describe such flow but maybe there is a better way.

Do you think that's something we can add later on or not?

[2020-09-29 09:50] slinkydeveloper commented on #12
I don't know _when_ we should add it tbh, but i see the value in it, in particular because it clearly separates the different "phases" of an eventing test. I think we can do it in yaml (if you take the first sample and replace `=>` with `:`, you have a yaml :smile:

[2020-10-01 06:33] #11 closed

[2020-10-07 20:33] tayarani opened #18 "Ensure pods are healthy before running tests"
Currently a required component deployed via ResourceContext.Apply() could be in a crash loop state when the tests are running.

Need to ensure all pods are healthy before running any test code. If pods are not healthy, need to clearly mark the tests as failing for that reason, which should be distinguishable from normal test failures.

[2020-10-12 10:40] slinkydeveloper opened #21 "Port event-sender test image"
The image also has to be renamed to sendevents for consistency with other test images

[2020-10-12 10:40] slinkydeveloper opened #22 "Port recordevents test image"

[2020-10-12 10:41] slinkydeveloper opened #23 "Port transformevents test image"

[2020-10-14 09:02] slinkydeveloper commented on #23
Closed by https://github.com/knative/eventing/pull/4291

[2020-10-14 09:02] #23 closed

[2020-10-14 09:04] slinkydeveloper commented on #22
Depends on https://github.com/knative/eventing/issues/4314

[2020-10-14 09:04] slinkydeveloper commented on #22
/assign

[2020-10-14 16:01] slinkydeveloper opened #24 "Remove sequencestepper"
We no longer use it :smile: https://github.com/knative/eventing/pull/4313

cc @lionelvillard

[2020-10-19 17:08] n3wscott opened #27 "Document Requirements framework"
/cc @dprotaso

[2020-11-06 13:42] slinkydeveloper commented on #21
With https://github.com/knative/eventing/pull/4459, this is not required anymore, we'll just need to port recordevents

[2020-11-06 13:42] #21 closed

[2020-11-11 21:55] n3wscott opened #31 "complementary to flags, can we use some yaml?"
I wonder, more than flags (or complementary to flags), can we use some yaml config files? We have so many stuff we're testing and flags are becoming really messy and hard to read https://github.com/knative/eventing/blob/master/test/e2e-conformance-tests.sh#L36.

Even env variables looks better, we could have a script to source to load them before starting `go test`

_Originally posted by @slinkyde

[2020-11-11 21:55] n3wscott opened #32 "Can step fn panic? is the panic recovered and recorded as failure?"
Can step fn panic? is the panic recovered and recorded as failure?

_Originally posted by @slinkydeveloper in https://github.com/knative-sandbox/reconciler-test/pull/30#discussion_r520365372_

[2020-11-11 21:58] n3wscott opened #33 "Make sure we truncate k8s generated names"
I assume that somewhere truncation happens, just jotting this down. Just want to make sure we don't end up with too long of a name.

_Originally posted by @vaikas in https://github.com/knative-sandbox/reconciler-test/pull/30#discussion_r520944835_

[2020-11-12 16:58] n3wscott opened #34 "Images produced should be provided to the templates with a bit more complexity to avoid shadowing"
Could you document what the images is, a pointer to something like gcr.io/... or something else?

_Originally posted by @vaikas in https://github.com/knative-sandbox/reconciler-test/pull/30#discussion_r520941041_

[2020-11-12 20:26] n3wscott opened #36 "The entire testing framework needs unit tests."
bad scott.

[2020-11-13 17:43] #34 closed

[2020-11-16 20:50] dprotaso opened #37 "e2e test framework poc needs more flexibility"
So none of the networking conformance tests currently have levels. Only serving has some.

I think for serving a runtime conformance test will be structured as

1) Create a Service
2) Make a get request to get some info about the running environment
3) Run the levelled assertions against the returned info
4) Repeat step 3 until you have no more assertions

A problem I see is the info from step 2 n

[2020-11-16 20:51] dprotaso commented on #37
/assign @n3wscott

[2020-11-16 20:58] dprotaso commented on #37
Another example would be the API operations for different types

https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#service

[2020-11-17 19:36] slinkydeveloper opened #39 "Cannot run tests from Goland"
I cannot run the example tests from the IDE, configuring with the proper build tag and environment variables, I get this:

[code]

My configuration:

![Schermata del 2020-11-17 19-51-10](https://user-images.githubusercontent.com/6706544/99433836-535fcb80-290e-11eb-99c1-478351084aa3.png)

Running from the command line with `SYSTEM_NAMESPACE=knative-eventing go test -v -tags=e2e ./test/example` just

[2020-11-17 19:38] slinkydeveloper opened #40 "Failing tests leaves namespace up"
This may be useful for debugging, but I guess it should be opt-in and by default the framework should just cleanup the namespace from the cluster

[2020-11-18 02:56] n3wscott commented on #37
Do you have an example test with code so I can understand?

[2020-11-18 03:04] dprotaso commented on #37
If I was using https://github.com/knative-sandbox/reconciler-test/blob/master/pkg/test/context.go

I'd write it as follows

[code]

[2020-11-18 09:20] slinkydeveloper opened #42 "Rework the eventshub.Store assertion apis"
The `eventshub.Store` apis at the moment are just a port of `recordevents.EventInfoStore` from eventing. We need to adapt the assertion/matcher interfaces to:

* Adapt to the `StepFn` contract (do we need it?)
* @n3wscott comment https://github.com/knative-sandbox/reconciler-test/pull/41#discussion_r525579156
* @n3wscott comment https://github.com/knative-sandbox/reconciler-test/pull/41#discussion

[2020-11-18 09:21] slinkydeveloper opened #43 "Expose all the eventshub sender configuration parameters"
Some of them are at the moment not exposed, like `Period`, `Delay`, `MaxMessages`, ...

[2020-11-18 09:26] slinkydeveloper opened #44 "Customize the k8s event target of eventshub"
Today eventshub can target k8s events only to its own pod. This might be problematic in some use cases and we might need to be able to configure the k8s events target to another k8s resource. Ref: https://github.com/knative-sandbox/reconciler-test/pull/41#discussion_r525578758

[2020-11-18 09:30] slinkydeveloper opened #45 "Replace reply configuration with ceOverrides"
Eventshub, when receiving events, can reply with transformed events. Today this is configured with a custom data structure, but we could leverage the ceOverrides concept we already have in eventing. Ref: https://github.com/knative-sandbox/reconciler-test/pull/41#discussion_r525580306

[2020-11-18 09:30] slinkydeveloper commented on #45
/area eventshub

[2020-11-18 09:33] slinkydeveloper commented on #45
@n3wscott The `CloudEventOverrides` type in pkg (part of sources ducktypes) doesn't include the ability to modify the cloudevent attributes, but just the extensions. In our use case we modify in the tests type, source and id usually... So when you refer to `ceOverrides` are you talking about another type i'm ignoring?

[2020-11-18 16:48] n3wscott commented on #37
I would assume that looks something like:

[code]

We need to build some support code, like implement namespace scoped clients and inject them into context: like the tbd `servingclient` package.

[2020-11-18 16:49] n3wscott commented on #37
the caveat is that each test should be independent of the previous. Because if you depend on ordering, it will fail, or it will be filtered out if only `Should` is run... etc

[2020-11-18 16:55] #22 closed

[2020-11-18 19:43] n3wscott opened #47 "Document how to use client injection in the testing framework."
As a follow on, this seems like something that will be very important to document?
Q: "In my tests I need access to xyz client, how do I do that?"
A: Easy peasy something something

_Originally posted by @vaikas in https://github.com/knative-sandbox/reconciler-test/pull/38#r526358334_

[2020-11-19 03:09] dprotaso commented on #37
In the prior example I have control over the test sequence since they naturally tie into golang's test lifecycle.

This is the point I'm trying to make - this separation makes this more cumbersome

ie. another example asserting which filesystem properties in our runtime contracts.

[code]

[2020-11-19 16:06] #43 closed

[2020-11-19 16:10] #24 closed

[2020-11-20 09:01] slinkydeveloper opened #51 "Proposal to rename Timing constructs to Given, When, Then, Teardown"
I think we should renaming the `Timing` constructs as following (quotes from https://martinfowler.com/bliki/GivenWhenThen.html):

* `Setup` -> `Given`: _The given part describes the state of the world before you begin the behavior you're specifying in this scenario. You can think of it as the pre-conditions to the test._
* `Requirement` -> `When`: _The when section is that behavior that you're spe

[2020-11-23 16:03] n3wscott commented on #51
We never use `Assert` directly, it is intended to be fronted by `f.Stable`, `f.Beta` or `f.Alpha`.

[2020-11-23 16:10] n3wscott commented on #51
`Setup` is not `Given`, Given phases are intended to be parameters:

But `Setup` is more of actively adjust the environment for the following feature.

`Requirement` is not `When` as I have been thinking about this framework.  `Requirement` is asserting something about the test environment given the `Setup` phase has passed.

At first look, what you are proposing makes sense, but it leads to usage

[2020-11-23 16:41] n3wscott opened #53 "Create a KResource version of IsReady"
This one can be abstracted and simplified, we could have in reconciler-test this:

[code]

_Originally posted by @slinkydeveloper in https://github.com/knative/eventing/pull/4564#discussion_r528839570_

[2020-11-23 16:44] n3wscott opened #54 "Move the resource parser code out of eventing and into here."
TODO: Move the helper code from here into reconciler-test.

_Originally posted by @n3wscott in https://github.com/knative/eventing/pull/4564#r528845946_

[2020-11-23 16:52] slinkydeveloper commented on #51
In my mind I'm mapping mapping scenario = feature, that's why I don't see the difference between Setup and When. Maybe it's just me that i didn't properly get it.

And if the requirement phase doesn't pass, what happens? Can you show me a use case where you use `Requirement` properly?

[2020-11-23 17:13] n3wscott commented on #51
It could be I used the wrong word... I was trying to make feature == a check box in the spec report for an e2e or conformance test, but that is hard to distil.

I am developing these now in eventing, but at the moment if a Setup or Requirement does not pass, the `Test` fails.

I am assuming a Feature would have some requirement on "I have a ready resource that I did not create" or "FooKind is inst

[2020-11-23 17:28] slinkydeveloper commented on #51
Ok so requirement goes first than `Setup` in this sense. I guess if `Requirement` fails, the test should be ignored right?

So with your comments what I understood is:

* `Setup` is kinda Given + When
* `Requirement` is something you assert to figure out if you wanna proceed with testing the feature or not
* `Assert` is the Then part

Am I right?

[2020-11-23 19:37] #54 closed

[2020-11-23 20:57] #53 closed

[2020-11-23 21:00] n3wscott opened #58 "Support k8s.IsReady for non-standard resources."
this is neat, for the Rabbit cluster operator, I needed to spin through all the conditions since they didn't have a top level condition. It might be useful to have another variant of this (or not) that says, if all the conditions are ready, or be able to pass an array of conditions that must be ready for the resource to be ready. obvs, followup if ever.

_Originally posted by @vaikas in https://gi

[2020-11-23 21:01] n3wscott commented on #58
We could do this by looking if it has a `Ready` condition use that, if not, look for `Succeeded`. If not then maybe we look at the sum of all the rest...?

[2020-11-23 21:01] vaikas commented on #58
yeah, sumtin like that.

[2020-11-23 21:56] #58 closed

[2020-11-23 23:26] n3wscott commented on #51
Yeah that is close to how I have been thinking about this. Does it make sense to think of it like that or should we change something?

[2020-11-24 07:41] slinkydeveloper commented on #51
I think now it's a little bit more clear to me, I guess we could do something like that to make stuff simpler/more explicit:

* `Requirement`
* `Given`
* `When`
* `Then`
* `Teardown`

But it's totally fine if we don't wanna do it, the whole problem in this issue was my misunderstanding of the timings.

[2020-11-24 17:25] dprotaso commented on #37
bump

[2020-11-24 19:36] n3wscott commented on #37
I am trading cumbersome with composability and decoupled tests.

I would write the `TestRuntimePaths` like this:

[code]

This might look like more code, but what we can do is break down the thing we are trying to assert is a feature (the payload of the runtime contract) from the how we get that response. So with some edits to the test entry point, we can test the runtime or whatever to another wa

[2020-11-25 03:50] dprotaso commented on #37
The example above leads me to more questions/thoughts:

#### 1) Use of `Feature` in lieu of a list of steps in `Prerequisites`

[code]

`Prerequisite` accepting a `Feature` seems weird since there could be levelled requirements and/or feature state assertions that I wouldn't expect.

#### 2) Generating state from prerequisite steps & using them in assertions

[code]

`someTestService()` in my mind

[2020-11-25 03:54] dprotaso commented on #37
I'm beginning to wonder if `feature.Feature` should be called something else - `feature.Set` because the stable/alpha/beta calls are scoped to a feature.

[2020-11-25 07:47] slinkydeveloper commented on #37
@dprotaso since you want to parallelize all tests, why not? I'm not sure I get your question

[2020-11-25 14:54] dprotaso commented on #37
Shouldn't test authors control the flow? What if assertions have side-effects on the remote object being tested?

This seems relevant to #3 - To guarantee test isolation I would have to change my feature definition either by:

1) Taking what would be in `feature.Setup` and moving it into every `Step` - ie. creating N Knative Services instead of one.
2) Creating duplicate `feature.Feature` definiti

[2020-11-25 15:01] slinkydeveloper commented on #37
An assertion by definition shouldn't have a side effect right? Are you sure that particular assertion shouldn't live in the setup phase?

[2020-11-25 15:58] n3wscott commented on #51
I think this removes setup and explodes assert into Given, When, Then and there is nothing to stop you from using a testing lib that uses that structure. The framework has a goal of allowing the ordering and filtering of feature levels and states, not being a BDD framework

[2020-11-25 16:00] n3wscott opened #63 "Eventshub should allow the sender to take in a gvr of an addressable"
Ideal solution: let the source have an option to be configured with K_SINK and SinkBinding.

This is true for cases where the sink is not known or addressable at the time of eventshub source creation.

[2020-11-25 16:02] slinkydeveloper commented on #51
I don't think you can explode the existing assert into given, when, then, because then there is an overlap between given and setup.

[2020-11-25 16:14] dprotaso commented on #37
Yup - I agree.

Ideally it should - but then I'm forced to split my `feature.Feature` definition. With the side effects being:

1) the same issue I mentioned above where some arguments are passed via closures and some via context
2) `env.Test()` doesn't run in parallel to other `env.Test()`  invocations - splitting features would actually slow things down

[2020-11-25 16:16] slinkydeveloper commented on #37
Can you provide a use case for that? It might help me reason on the issue

[2020-11-25 16:30] dprotaso commented on #37
I mentioned it all here see point 2): https://github.com/knative-sandbox/reconciler-test/issues/37#issuecomment-733445763

Another hypothetical
[code]

If each `Stable` feature requires a different KIngress configuration where should they be setup?

1) Inside Assert*Traffic calls?
    - con: not really using `feature.Setup` anymore so you can't re-use steps
2) `Setup` on the feature?
     - con: a

[2020-11-25 16:46] slinkydeveloper commented on #37
This is kinda similar to the discussion happening here: https://github.com/knative-sandbox/reconciler-test/issues/51. My understanding is that to generate state you should use `Setup`. If you need to generate state, then assert, then generate state and then assert again you need to develop 2 features.

I see this even more clearly in your sample with `kingress`, where yes there is more boilerplate

[2020-11-25 17:08] n3wscott commented on #37
The name `feature.Feature` could be wrong, I have been more focused on how these things are composable and the signatures of the steps and feature providers.

Ville wanted a setup step that was external to the Test or Feature to get the env to a state that is required by orthogonal to the test you would like to preform. In Eventing this would be installing a class of Broker, in Serving this would

[2020-11-25 17:08] dprotaso commented on #37
Then I'm confused by the feature state methods (`Alpha`, `Beta`, `Stable` etc.) on the `Feature` struct. To my third point above and following [observation](https://github.com/knative-sandbox/reconciler-test/issues/37#issuecomment-733446737) I think it's important to be able to go to a single place to see a group of related features together and their level of maturity. ie. like the KIngress examp

[2020-11-25 17:57] n3wscott commented on #37
I would need to know more about KIngress to be able to answer in full, but I have been assuming a Feature tests a contained set of functionality, and variations would be passed down to it.

I think you can compose the test you are wanting to, and you will have to do a bit more work when trying to special case a particular feature of an implementation, if that is not generally testable by all imple

[2020-11-25 18:24] dprotaso commented on #37
#### 1) Use of Feature in lieu of a list of steps in Prerequisites

Whatever goes here shouldn't have state (alpha, beta, stable) or levels (must, should, may) decorations since those could be skipped via environment flags etc.

ie. What if I was only testing alpha features of a broker - the broker ready feature passed to a `prereq` wouldn't run

https://github.com/knative/eventing/blob/fe1b34c4c0

[2020-11-25 18:25] dprotaso commented on #37
It's conformance so there's are no variations on the features being tested. The only thing that differs is the ingress installation and maybe configuring some global test properties (ie. does DNS work, which ingress class etc.)

[2020-11-25 20:43] n3wscott opened #64 "Framework should report Prerequisite features with Asserts"
We should have a strict mode that fails or normal mode that warns when the feature passed to`env.Prerequisite(...)` has leveled assertions, it can cause issues when running filtered test runs.

The test author should be able to opt into this behaviour if that is what they want to be doing.

Needs more discussion.

[2020-11-25 20:46] n3wscott opened #65 "Framework needs a way to group Features into Sets"
Two things will need to be added, something like:

1. feature.Set is introduced, it is a list of `feature.Feature`s that run as a unit.
2. `env.TestSet` is added as a test entry point to run these sets of features.

The use case here is something like a conformance suite that would like to bundle the artifact of N features as a unit and have that be vendored downstream.

[2020-11-25 20:49] n3wscott opened #66 "Framework needs to help test authors understand how to pass state between steps"
One issue has the testing framework makes it had to pass state between components. How do we solve this? Is it a real problem?

[2020-11-25 20:52] n3wscott commented on #37
I have made several issues to continue the discussion in the forks we have made:

for 1):

Framework should report Prerequisite features with Asserts #64

for 2):

Framework needs to help test authors understand how to pass state between steps #66

for 3):

Framework needs a way to group Features into Sets #65

I think we need to define this a bit more. The thinking is the runner can get metadata

[2020-11-26 16:48] dprotaso commented on #37
Tagging @nak3 @ZhiminXiang @tcnghia - can someone with networking start taking a look at the current framework and the open issues Scott created.

It may be worth doing a small POC with a single KIngress feature.

[2021-01-07 09:18] slinkydeveloper commented on #9
/reopen

[2021-01-07 09:18] slinkydeveloper commented on #12
/reopen

[2021-01-13 01:03] n3wscott opened #73 "Display full ko output on error."
It will help with debugging.

[2021-01-14 20:50] tayarani commented on #40
It's not just failing tests. Even successful runs leave the ns around.

[2021-01-27 15:09] slinkydeveloper commented on #9
I believe this is now possible with eventshub

/close

[2021-01-27 15:09] #9 closed

[2021-01-27 15:11] #42 closed

[2021-02-06 01:41] #18 closed

[2021-02-09 15:07] slinkydeveloper commented on #66
It's a real problem, we need to find a solution for this

[2021-02-10 08:31] slinkydeveloper commented on #33
/remove-lifecycle stale

[2021-02-10 08:31] slinkydeveloper commented on #32
/remove-lifecycle stale/remove-lifecycle stale

[2021-02-10 08:31] slinkydeveloper commented on #31
/remove-lifecycle stale

[2021-02-10 08:31] slinkydeveloper commented on #32
/remove-lifecycle stale

[2021-02-11 08:11] slinkydeveloper commented on #36
/remove-lifecycle stale

[2021-02-17 14:52] slinkydeveloper commented on #51
I'm reopening this thread because, after looking more in the test framework, I still don't get the point of requirement. What is it meant for? And how is practically different from a Setup? Aren't our `Setup` at the end of the day already performing assertions (e.g. on the readyness of the system to test)?

[2021-02-18 15:56] lberk opened #99 "eventshub needs a way to specify non-POST requests"
For some conformance tests (for example, broker), the specification lists that non-POST https requests must be rejected.  However we don't any way to do so at this time.

For example: knative/eventing#4859

[2021-02-22 18:09] n3wscott opened #100 "Support Conformance test authoring."
Need an example conformance test documented for downstreams to reference.

There are a few features we still need that block downstreams from really using the framework for creating conformance test authoring and running:

- reporting results.
- https://github.com/knative-sandbox/reconciler-test/issues/65
- https://github.com/knative-sandbox/reconciler-test/issues/64
- https://github.com/knative/s

[2021-02-23 17:00] n3wscott commented on #65
/assign

[2021-02-24 15:30] n3wscott commented on #51
I was thinking it is for non-mutating phases. So it does not install or adjust anything, it is your chance to probe the system for things that are (or are not) installed or available as a gate to understand if the feature was to be run, would it be known to fail without trying (like it is a kafka feature but no kafka is installed) or it needs eventing but no eventing...

[2021-02-24 18:29] n3wscott commented on #66
[code]

OK brain wave....

It was my intention that the requirement timing would let you block until it passes while setup phases were happening so the testing phase works.

BUT! what if we change how Requirement works, and it gets paired with Setup as a prereq for running Setups. The setup phase is optional, example:

[code]

How to know a Require is paired with a Setup? Match the name of the ste

[2021-02-24 23:31] dprotaso commented on #66
Then steps have two places (context &| config) to get things from and they're both untyped and have loose contracts.

[2021-03-01 08:37] slinkydeveloper commented on #51
But in `Setup` you already check if the system is ready or not, and we don't actually use requirement failures to skip tests today... So maybe it's a problem of how i see it implemented today?

[2021-03-02 01:51] #65 closed

[2021-03-02 16:43] slinkydeveloper opened #106 "Test execution model"
Today we have this code https://github.com/knative-sandbox/reconciler-test/blob/master/pkg/environment/magic.go where we take the various user `StepFn`s and execute them.

This model has several problems:

* We don't really implement `Requirement` as we would love to: if a `Requirement` fails, we don't want the test to fail, but we want to skip the asserts (don't execute them at all) and just run

[2021-03-04 02:19] dprotaso commented on #106
The other notable thing I realized today is `go test ./...` (when testing multiple packages) actually runs the test binaries in parallel.

so `go test pkgA/e2e pkgA/e2e/scale` will immediately spin up two processes. The # of processes is cpu count dependent.

There's actually a poorly documented flag that limits this parallelism `-p 1`. See: https://golang.org/cmd/go/#hdr-Compile_packages_and_depe

[2021-03-04 18:14] slinkydeveloper commented on #106
@dprotaso running parallel test binaries is not a big problem at the end of the day, it's better than running in parallel in the same process, which makes the whole execution model for us more complicated

[2021-03-04 19:17] dprotaso commented on #106
@slinkydeveloper I agree. I mentioned it since I'm poking at improving serving's e2e scripts.

The other notable thing I realize is that test timeouts panic so all the tear-downs/cleanup do not run. I think the only way to work around this is to wrap the test binary in a separate process in `-exec`. I'm looking into that now

[2021-03-04 19:41] slinkydeveloper commented on #106
Are you thinking to run features teardown phases in there?

[2021-03-04 20:07] dprotaso commented on #106
I'm just looking to clean up serving's bash scripts and thinking this approach would work to replace things like toggling features on the cluster

https://github.com/knative/serving/blob/17e40b1c4c0e28eef577fc80e67df6bf9406e7b2/test/e2e-tests.sh#L111-L117

I'm unsure how to wrangle features setup/teardown with this

[2021-03-05 15:23] slinkydeveloper commented on #106
I'll try to take a crack at it serializing all the features executions... Not the more elegant approach, but it could be a good start

[2021-03-09 08:09] slinkydeveloper opened #118 "Implement Emitter for reporting to json the features result and compliance level"
As $title, the emitter can be used to implement the reporting of compliance, e.g. emitting a json for every feature like:

[code]

[2021-03-09 15:45] n3wscott commented on #118
I am not sure the report makes the most sense to be ordered by level and state, but I like where this is going.

[2021-03-09 15:48] slinkydeveloper commented on #118
@n3wscott The proposed format is absolutely drafted :smile: My point is collecting the things and dump them somewhere for later processing

[2021-03-10 17:31] slinkydeveloper commented on #106
@n3wscott can you check again the points of this issue and see if there's something else in your opinion we need to tackle?

[2021-03-10 17:41] slinkydeveloper opened #121 "Document MustNot and ShouldNot semantics"
cc @n3wscott

[2021-03-10 17:42] slinkydeveloper commented on #100
How about these:

* https://github.com/knative/eventing/tree/main/test/rekt/features/broker
* https://github.com/knative/eventing/blob/main/test/rekt/broker_test.go

[2021-03-10 17:43] slinkydeveloper opened #122 "Environment.Prerequisite semantics"
As $title, how `Environment.Prerequisite` should work? If it fails, should it skip the whole test? Or should it fail it? Do we need to add additional docs about it?

cc @n3wscott

[2021-03-10 17:44] slinkydeveloper commented on #73
Done in https://github.com/knative-sandbox/reconciler-test/pull/98

[2021-03-10 17:44] #73 closed

[2021-03-10 17:45] slinkydeveloper commented on #32
We might still need to take some actions about this, I'll analyze where we're at and eventually push a PR to fill the gap.

/assign

[2021-03-10 17:46] slinkydeveloper commented on #99
/assign

[2021-03-10 17:48] slinkydeveloper commented on #40
@n3wscott how about when configuring the environment with `globalEnv.Environment` we pass `testing.T`? So then we can hook the finish to the test lifecycle:

[code]

Inside `Environment`:

[code]

[2021-03-10 17:50] slinkydeveloper commented on #63
This is already implemented https://github.com/knative-sandbox/reconciler-test/blob/main/pkg/eventshub/options.go#L53

[2021-03-10 17:50] #63 closed

[2021-03-10 17:52] slinkydeveloper commented on #64
@n3wscott is this already implemented by #119/#112?

[2021-03-10 17:52] slinkydeveloper commented on #39
It seems like this doesn't happen anymore, I'll reopen if it reproduces again

[2021-03-10 17:52] #39 closed

[2021-03-10 17:53] slinkydeveloper commented on #51
I think #106 solves this conversation, I'm closing this issue as not relevant anymore

[2021-03-10 17:55] n3wscott commented on #40
we can add a flag in env to keep namespaces around on finish.

[2021-03-10 18:29] n3wscott opened #124 "Eventhub seems to be flaky on prow?"
[code]

[2021-03-10 18:30] n3wscott commented on #124
Ref: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/5049/pull-knative-eventing-reconciler-tests/1369705873512861696

[2021-03-10 21:22] vaikas commented on #100
@slinkydeveloper @n3wscott Couple of things based off these samples that came to mind from a quick look:
1. mtchannelbroker is hardcoded, so what is the recommended way to pass in a different BrokerClass (say, Kakfa)? Or just pass in an already created Broker (by ref? Name?) instead of creating a broker in the test?
2. I don't see an easy way to test mutations. We have install, but I don't see a w

[2021-03-10 23:22] n3wscott commented on #122
I think it should fail, it means the test is not runnable. You could choose to `t.Skip()`  in that `Prerequisite` and that would be an opt-in skip, but default if it fails, the test fast fails.

[2021-03-10 23:37] n3wscott commented on #121
cc @dprotaso was the advocate for them, the intention is to link spec lines directly to a test.

[2021-03-10 23:44] n3wscott commented on #106
I am not sure this is true, requirement is a way to fast fail without wasting time on the setup and assert phases.

I think this is fixed.

* Context is not properly handled per `StepFn` (I attempted to fix it here https://github.com/knative-sandbox/reconciler-test/pull/96)

I am not sure what this means. But I think were we end up is ok.

I think we are good now.

They should be the same as `Must

[2021-03-11 16:05] n3wscott commented on #100
1. The test for broker conformance is written incorrectly. We need to pass a ref to the broker under test and create the broker external to the conformance run.
2. The outer wrapper is intended to be copied into the target repo and mutated there, with customizations specific to the test env the rest of the tests need not be aware of.

We are not quite there, I think we can get there in a week.

[2021-03-11 16:10] #40 closed

[2021-03-11 18:50] n3wscott commented on #124
Found another:

[code]

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_eventing/5056/pull-knative-eventing-reconciler-tests/1370078175236722688

https://github.com/knative/eventing/pull/5056

[2021-03-12 01:52] #27 closed

[2021-03-15 18:08] n3wscott opened #132 "k8s.IsReady should also confirm status.observedGeneration == meta.generation"

[2021-03-16 02:50] xtreme-sameer-vohra opened #135 "should k8s.WaitForReadyOrDone pass for an resource with no conditions ?"
The current intended behaviour for an object that isn't ready or succeeded is to cycle through the list of conditions to determine if `k8s.WaitForReadyOrDone` should pass. If the object has no conditions, the pass succeeds.

I ran into a case where I expected things to fail and was surprised when everything passed :)

Steps
1. Ran setup for discovery e2e tests, however the discovery controller was

[2021-03-16 08:11] slinkydeveloper commented on #124
Will investigate

[2021-03-16 08:11] slinkydeveloper commented on #124
/assign

[2021-03-16 08:27] slinkydeveloper commented on #124
[code]

This panic doesn't make any sense... I think we should find out why this happens first, more than blaming eventshub.

I don't have the logs of the pods (in particular of eventshub pods), so I can't investigate further. Will try to figure out first why we see this panic

[2021-03-16 08:28] slinkydeveloper commented on #106
Link to #124, that panic is suspect...

[2021-03-16 08:28] slinkydeveloper commented on #124
Link to #106

[2021-03-16 08:29] slinkydeveloper commented on #106
As is now (with #112), the test is skipped but not failed. Maybe this should be configurable somehow?

[2021-03-16 13:49] slinkydeveloper commented on #124
https://github.com/knative/eventing/issues/5076

[2021-03-16 16:05] n3wscott commented on #124
I think the problem is eventshub panics via fatalf in some places where it does not get the correct counts.

[2021-03-16 21:51] n3wscott opened #137 "PollTimingsFromContext has a bug"
[code]

should be

[code]

[2021-03-16 21:55] #137 closed

[2021-03-17 00:11] n3wscott commented on #135
Yes. We just hit this too. Fix inbound.

[2021-03-17 00:22] #135 closed

[2021-03-18 14:31] slinkydeveloper commented on #122
So, is this correct?

* If prerequisite succeeds, move forward and run all the features
* If prerequisite fails, mark the test as failed (or as skipped?!) and don't run all the features

I wonder if `Prerequisite` should really accept `Feature` more than `StepFn`... Do we expect `Prerequisite` mutate the cluster state to prepare the features executions? e.g. before running some broker features, sh

[2021-03-18 23:33] vaikas opened #146 "Eventshub should support sending malformed events."
Discovered in:
https://github.com/knative/eventing/pull/5101

I was wanting to use eventshub to send the event, and in particular send a version of cloudevents that was not 0.3 or 1.0 but this was impossible.

So either, we need to have a way to send malformed events to test failures, or we need to have another tool (not desirable) to do this.

Also, it should be easier to find a way to do POST vs

[2021-03-19 01:54] #45 closed

[2021-03-19 01:54] #44 closed

[2021-03-19 08:27] slinkydeveloper commented on #146
You cannot send malformed events, but more than sending events you can just manually set headers and payload:

* https://github.com/knative-sandbox/reconciler-test/blob/main/pkg/eventshub/options.go#L151
* https://github.com/knative-sandbox/reconciler-test/blob/main/pkg/eventshub/options.go#L156

With https://github.com/knative-sandbox/reconciler-test/pull/141, you can also specify the http method

[2021-03-22 18:30] #99 closed

[2021-03-22 18:30] #146 closed

[2021-03-22 18:35] vaikas opened #150 "Eventshub segfault when trying to send a non-conformant version."
Trying to send an event with a non-conformant version like this:
[code]

Results in this:
[code]

[2021-03-22 18:39] slinkydeveloper commented on #150
Seems like the panic fixed in https://github.com/knative-sandbox/reconciler-test/commit/5af4bb3fa38677fdcb7e6e1240315ebb82bc6ba8, did you refreshed the test image build?

[2021-03-22 18:42] vaikas commented on #150
haha, yes, was just going to close the issue, fixed to the latest and seems to work.

[2021-03-22 18:42] #150 closed

[2021-03-23 09:33] slinkydeveloper commented on #106
Related #142

[2021-03-23 15:05] slinkydeveloper opened #151 "Install a yaml with a path"
In eventing-kafka-broker we have some confs we use in specific tests, like: https://github.com/knative-sandbox/eventing-kafka-broker/tree/main/test/e2e_new/single_partition_config

I think it's a bit overkill to have a package just for it and a related install function. Is it possible to have something like:

[code]

Where the dir structure is:

[code]

With this approach we can install a precise

[2021-03-23 15:21] slinkydeveloper opened #152 "Add a method to create an env tied to *testing.T"
From comment https://github.com/knative-sandbox/reconciler-test/pull/123#discussion_r591817948 and https://github.com/knative-sandbox/reconciler-test/pull/123#discussion_r591818520

[2021-03-23 18:11] #32 closed

[2021-03-24 16:03] mgencur commented on #106
Hello!
Looking at the docs and the discussion above, and also the discussions in https://github.com/knative-sandbox/reconciler-test/issues/51 the `Requirements` phase is still kind of confusing to me. The way it is implemented now where the Requirements stage runs after Setup makes little sense, IMO.
The docs make it a little confusing too because on this line https://github.com/knative-sandbox/re

[2021-03-24 16:31] mgencur commented on #106
Think another source of confusion is using Setup for both preparing the tests and executing some commands against the target SUT (system under test).
This probably comes from the fact that people know the well-known paradigms
Given-When-Then (or Setup-Exercise-Verify or Arrange-Act-Assert). Then they come to
use this framework and suddenly wonder where the "Exercise/When/Act" phase is executed,
wh

[2021-03-25 11:23] slinkydeveloper commented on #106
Given-When-Then (or Setup-Exercise-Verify or Arrange-Act-Assert). Then they come to
use this framework and suddenly wonder where the "Exercise/When/Act" phase is executed,
where they should place it. I'm wondering about it too.

Same feeling here. Given-when-then is a very simple paradigm well understood.

* Given: setup broker, subscription, receiver etc
* When: Send event
* Then: assert event re

[2021-03-25 13:57] mgencur commented on #122
I have to admit that after looking at the API and impl of the `Prerequisite` function it's still a little confusing:
From the interface it looks like they're doing completely the same:
[code]
And the implementation of Prerequisite actually just calls the `Test` implementation directly, just giving the test a different name "Prerequisite".
If I understand it correctly the Prerequisite should mutate

[2021-03-25 15:04] slinkydeveloper commented on #124
I'm gonna close this as it seems to me the issue is not eventshub, but something is wrong in the context lifecycle, already tracked by other issues. If you find any evidence something is wrong in eventshub, reopen

[2021-03-25 15:04] #124 closed

[2021-03-28 01:28] #37 closed

[2021-04-07 17:00] lionelvillard opened #166 "A failed requirement does not fail the test"
I would expect that when a requirement fails, the test would also fail.

Trace example:

[code]

[2021-04-07 17:04] lionelvillard opened #167 "Resources installed outside of the test namespace are not deleted"

[2021-04-07 17:47] lionelvillard opened #168 "Assert name appears twice the test output"
Example:

[code]

Output:

[code]

I would expect:

[code]

[2021-04-07 21:06] lionelvillard commented on #166
@n3wscott can you confirm this is a bug? If yes I'm can submit a PR.

[2021-04-07 21:29] n3wscott commented on #166
Can you show me the code backing `Kafka_topic_must_be_ready` ?

[2021-04-07 21:36] n3wscott commented on #166
I think there _is_ a bug in the reconciler framework on how it sees failures from `Requirement`

[code]

Will look into it.

[2021-04-20 17:02] vaikas opened #180 "Make it possible to run tests against a single feature."
As a test writer (working on creating a new test), and or vendor debugging a failing conformance test, it would be desireable to run a single feature only. For example, while working on:
https://github.com/knative/eventing/pull/5282

It was possible for me to run only the TestBrokerConformance tests, but even then it would run a whole bunch of tests that I did not want (well, need) to run.

I thin

[2021-04-20 17:17] xtreme-sameer-vohra commented on #180
/assign

[2021-04-20 18:14] n3wscott opened #181 "feature requirements should fail the feature if the step fails, not skip"
example:

[code]

results in a skipped step and a `PASS`, but the test did not run or pass. These should `FAIL`.

[2021-04-20 18:24] lionelvillard commented on #181
maybe a duplicate of https://github.com/knative-sandbox/reconciler-test/issues/166?

[2021-04-20 20:18] #181 closed

[2021-04-20 21:15] vaikas opened #184 "Make cleanups easier and just use k8s ownerrefs for it."
One possibly terrible idea that I floated by @n3wscott was that in our Install phases, since we see all the resources created, we could create a 'dummy' resource, say configmap that contains deets about the particular Feature that's currently being tested. So, if we were to do that, then in the Install, we could set the OwnerRef to point to that configmap and in the cleanup phase (could make it so

[2021-04-20 23:00] lionelvillard commented on #184
Keep in mind that ownerrefs don't work across namespaces, so you need one configmap per namespace. How do you cleanup the namespace itself?

[2021-04-21 00:07] vaikas commented on #184
It's one cm per feature and each feature is in a given namespace. At least that's what I was thinking.

[2021-04-26 15:14] #180 closed

[2021-04-28 20:02] vaikas commented on #167
If you create them in the Feature, this should probably give you access to it. Is that enough?
https://github.com/knative-sandbox/reconciler-test/blob/main/pkg/feature/feature.go#L102

And then you can use it like this:
https://github.com/knative-sandbox/reconciler-test/pull/185

Or if you need more control:
https://github.com/knative/eventing/blob/main/test/rekt/features/broker/control_plane.go#L

[2021-04-28 22:35] vaikas opened #191 "Unnecessary resources created when adding recorders."
If we install multiple recorders, for example here:
[code]

We can probably not create a different serciceaccount, role, rolebinding for each recorder. I think we could just create a single service account (say, the name of the namespace) and use it for all these?

[2021-04-28 22:44] n3wscott commented on #191
oh my yeah, we could add that state to the prober to remember? or we always use the same name for account so it just updates if it exists?

[2021-04-28 22:44] vaikas commented on #191
yeah, was thinking about just using the same name as the namespace.

[2021-04-29 11:03] mgencur opened #192 "Allow for tests to run in pre-created NS"
**Problem:**

In some environments it won't be possible for the testing infrastructure to easily create new namespaces at will, so it would be nice if there was a way to run the e2e tests all within a single, pre-created, namespace.

A similar issue was created for knative/eventing a long time ago: https://github.com/knative/eventing/issues/2776. [This comment](https://github.com/knative/eventing/

[2021-04-29 11:05] mgencur commented on #192
I can work on that if we agree on a solution.

[2021-04-29 12:29] lionelvillard commented on #192
+1. We currently cannot run any Knative tests in our environment for the exact same reason.

[2021-04-29 13:11] matzew commented on #192
+1
and thanks for bringing this up @mgencur

[2021-05-04 16:23] n3wscott opened #193 "Can we leverage the embed fs from go 1.16 to reduce the disk reads?"
The trademark committee has a long term goal of a binary distribution for running conformance tests. The exact method is not yet described, but one thing that is hard at the moment is the reconciler-test framework does a lot of filesystem inspection when running, meaning it really does not work well if it is run outside the root of the project you have crafted the tests for.

There is a new featur

[2021-05-04 16:27] n3wscott opened #194 "Move event library to reconciler-test?"
We have this code: https://github.com/knative/eventing/blob/main/test/test_images/event-library/main.go

It works by using a kodata dir to serve yaml files from the container. Could we refactor this code to use the go 1.16 filesystem embed feature to "register" new files from downstream integrations (eventing) while the core of the code and concept is here in reconciler-test?

It might be we need

[2021-05-27 20:20] #193 closed

[2021-06-03 14:04] xinydev opened #211 "Proposal: change the responce code in eventshub receiver for dropped events"
I am writing an e2e test for apiServerSource's retry feature, but the `cloudevents.Client` only retries when the HTTP response code is one of  [these](https://github.com/cloudevents/sdk-go/blob/main/v2/protocol/http/protocol.go#L40).

I want to use eventshub to simulate a events lost scenario but the eventshub returns [http.StatusConflict](https://github.com/knative-sandbox/reconciler-test/blob/ma

[2021-06-04 11:01] xinydev commented on #211
@vaikas What do you think of this

[2021-06-04 11:44] vaikas commented on #211
Not totally sure if this would fit your use case, but for RabbitMQ Broker, I ended up using this:
https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/dispatcher/dispatcher.go#L80

With some more context here:
https://github.com/cloudevents/sdk-go/pull/596

[2021-06-04 13:43] xinydev commented on #211
Thanks!  It is very helpful!

[2021-06-04 13:57] vaikas commented on #211
Great to hear :) Ping me if you need some more help :)

[2021-06-11 01:28] #47 closed

[2021-06-11 01:28] #12 closed

[2021-06-12 01:25] #33 closed

[2021-06-12 01:25] #31 closed

[2021-06-13 01:27] #36 closed

[2021-06-15 02:45] xinydev commented on #211
@vaikas  Hi, what do you think we add a new env `DropEventsResponseCode` to config the status code returned when dropping events ?

I think in my scenario(https://github.com/knative/eventing/pull/5457), it might not be good to modify the default strategy of [cloudevent.Client](https://github.com/knative/eventing/blob/fa6b0b08a5c1e2542fba50c35d82df9baff2cc56/pkg/adapter/v2/cloudevents.go#L47)
in pk

[2021-06-15 16:55] dprotaso commented on #66
/lifecycle frozen

[2021-06-16 06:55] pierDipi commented on #211
@xinydev makes sense to me, and it will be a lot useful for testing the behavior of some specific status codes.

[2021-06-16 07:09] xinydev commented on #211
/assign

[2021-06-23 13:39] benmoss commented on #168
Fixed by #205

[2021-06-23 13:39] benmoss commented on #168
/cloes

[2021-06-23 13:40] benmoss commented on #168
/close

[2021-06-23 13:40] #168 closed

[2021-07-07 16:44] #211 closed

[2021-07-09 01:26] #118 closed

[2021-07-09 13:26] dprotaso commented on #66
I wonder if step function should change to return a potentially _new_ context

ie.` func Step(context.Context, testing.T) context.Context`

[2021-07-10 01:24] #121 closed

[2021-07-10 01:24] #64 closed

[2021-07-11 01:27] #100 closed

[2021-07-15 01:27] #132 closed

[2021-07-23 01:26] #152 closed

[2021-07-23 01:26] #151 closed

[2021-07-25 01:26] #122 closed

[2021-07-25 01:26] #106 closed

[2021-08-07 01:23] #166 closed

[2021-08-20 01:28] #184 closed

[2021-08-27 01:30] #167 closed, assigned to nobody

[2021-09-03 01:27] #194 closed

[2021-09-03 05:07] mgencur commented on #192
/reopen

[2021-09-30 06:42] #191 closed

[2021-10-23 18:52] gabo1208 opened #247 "Add AssertReceivedNone to eventProber"
There is a need sometimes to be sure there are not events been sent to an specific resource.
Lets add the method `AssertReceivedNone ` for this purpose.

[2021-11-02 18:38] gabo1208 commented on #247
/assign

[2021-12-23 20:42] cardil opened #268 "Running tests without calling `environment.InitFlags()` func leads to failed test being skipped instead of failure"
The `environment.InitFlags()` is required to be executed. Without it, the flags are not set properly. Their values are outside of possible known values - `s == 0` and `l == 0`.

https://github.com/knative-sandbox/reconciler-test/blob/816f2192fec9b6363c2b9ed79875aa54d472eede/pkg/environment/flags.go#L29-L30

This leads to nasty behavior - the `shouldFail(s *feature.Step) bool` func returns false, a

[2021-12-23 20:43] cardil commented on #268
/kind bug

[2022-01-03 07:03] pierDipi commented on #192
/reopen
/triage accepted
/remove-lifecycle stale

[2022-01-05 14:26] cardil opened #270 "Connection refused when sending events EventsHub receiver with external sender"
The EventsHub receiver seams to be lacking in readiness processing. It is possible to deploy a receiver, and while it is reported as ready, get `Connection refused` error, while sending an event with a high chance.

Below is the current code that checks for readiness of the eventshub:

https://github.com/knative-sandbox/reconciler-test/blob/816f2192fec9b6363c2b9ed79875aa54d472eede/pkg/eventshub/re

[2022-01-05 20:33] cardil opened #272 "Integration test should be run on presubmit"
The integration tests are not configured for reconciler-test repo. They should be set up here and enabled in test-infra repository.

[2022-01-05 20:58] cardil commented on #272
/kind enhancement

[2022-01-10 13:58] #247 closed

[2022-01-11 19:52] #272 closed

[2022-01-12 12:06] aliok opened #276 "Cannot publish images on MacOS host"
I am running some reconciler tests (specifically, the ones in Knative Eventing) on my MacOS machine.

The framework tries to do `ko publish`: https://github.com/knative-sandbox/reconciler-test/blob/be32f9c185c5e5596c24c7a70831fe15032d6f81/pkg/images/ko.go#L25

[code]

When I pass a `PLATFORM=linux/amd64` env var, this time I get this:

[code]

...and, I cannot set `GOOS` env var to my call for tes

[2022-01-12 12:06] aliok commented on #276
As a workaround, what I did locally is, I change the `cmd` function here: https://github.com/knative-sandbox/reconciler-test/blob/be32f9c185c5e5596c24c7a70831fe15032d6f81/pkg/images/cmd.go#L26-L31

[code]

I also removed the `PLATFORM` env var.

[2022-01-12 12:07] aliok commented on #276
Why `CGO_ENABLED=0`? I was having this issue due to cross compilation: https://github.com/golang/go/issues/22510

[2022-01-13 12:41] cardil commented on #270
While working on #271, I've managed to get a different outcome. Instead of `Connection refused` message, I get CURL to hang on `Trying 10.223.247.217...` similar to: https://serverfault.com/questions/926336/what-does-curl-stuck-at-trying-ip-address-indicate

See https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative-sandbox_reconciler-test/271/pull-knative-sandbox-reconciler-test-integ

[2022-01-14 18:25] cardil commented on #270
I think this issue is essentially unsolved in Kubernetes. See: https://stackoverflow.com/a/59713538/844449

[2022-01-28 12:34] cardil opened #295 "Logging in reconciler-test is clumsy"
The logging in this library is all over the place. The following packages are used to log messages:

- `testing`
- `zap`
- `fmt`
- `log`
- `k8s.io/klog`

As this library is test focused, it would be a good idea to feed all logs to `testing` package. The `testing` package loggers automatically works when doing a parallel testing, so the messages will end up in appropriate test report. Also, `testin

[2022-01-28 12:34] cardil commented on #295
/assign

[2022-02-01 22:05] #270 closed

[2022-02-07 21:19] gab-satchi opened #299 "Feature's DeleteResources doesn't work"
When a Feature is being planned and `f.DeleteResources` is called (like [here](https://github.com/knative-sandbox/reconciler-test/blob/main/test/example/echo_feature.go#L78) and [here](https://github.com/knative/eventing/blob/main/test/rekt/features/broker/control_plane.go#L392)), the feature being referenced doesn't have any Object References.

When feature sets are [run](https://github.com/knati

[2022-02-11 17:54] gab-satchi opened #301 "Readiness probe on sender causing failures"
Readiness probes were introduced in #284. While that fixed the issue for receivers, senders have become more flakey as a result.

The sender and receiver share the same [Install](https://github.com/knative-sandbox/reconciler-test/blob/main/pkg/eventshub/resources.go#L49) function. And it's now including a Readiness probe for senders as well as receivers. Senders don't respond to that endpoint at a

[2022-02-14 16:13] pierDipi commented on #301
/assign

[2022-02-15 01:50] #301 closed

[2022-02-16 19:28] #299 closed

[2022-03-02 15:30] cardil opened #303 "Allow for overriding the resolver of test images"
Current code only allows to rely on KO to resolve package paths, or user needs to pass a complete map of resolved images, up-front.

It would be a good idea to allow overriding the mechanism that resolves the package paths. That will make it easier to develop more dynamic solutions.

/kind enchantment

[2022-04-24 01:34] #268 closed

[2022-04-26 13:17] cardil commented on #268
/reopen
/remove-lifecycle stale

[2022-05-11 12:59] cardil opened #337 "The tests fail while using eventshub when executed on Windows machine"
The tests fail catastrophically while using _eventhub_ component, while being executed on Windows machine.

Error log:

[code]

Fatal invocation:

https://github.com/knative-sandbox/reconciler-test/blob/776888f76c76d761f0dd707e4ccb2a65bb0eada8/pkg/eventshub/rbac/rbac.go#L35

/kind bug

[2022-06-29 16:15] cardil commented on #295
/reopen
/remove-lifecycle stale

[2022-07-02 01:35] #303 closed

[2022-07-22 11:19] #295 closed

[2022-07-25 12:34] #337 closed

[2022-08-03 08:34] mgencur opened #367 "Gather traces for events sent by the framework"
The reconciler-test framework should be able to collect traces for events from failed tests.
Similar to the upgrade testing feature in [knative/eventing](https://github.com/knative/eventing/issues/6145) we would like to be able to inspect traces for all events when a given test fails. The reconciler-test framework provides the eventshub image that can be used to send and receive events. It can be

[2022-08-03 08:34] mgencur commented on #367
/assign

[2022-08-03 14:05] #367 closed

[2022-10-05 09:50] cardil commented on #268
/remove-lifecycle stale
/triage accepted

[2022-10-28 10:08] pierDipi opened #410 "Data Race: ProduceImages"
[code]

Probably changes in https://github.com/knative-sandbox/reconciler-test/pull/294 are related

[2022-10-28 10:09] pierDipi commented on #410
cc @cardil

[2022-10-28 11:13] pierDipi commented on #410
Ok, the refs map is shared and can be accessed on read and write from multiple goroutines with parallel tests https://github.com/knative-sandbox/reconciler-test/pull/411

[2022-10-28 11:25] #410 closed